
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SV - New Items</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
    
		<header>
		<h1>Add New Item</h1>
		<a href="/logout">Log out</a>
      <a  href="/" >Home</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
      
		<main>
      <form method="post" action="/sv/add" enctype="multipart/form-data">
        <p>
          <label for="eannumber">EAN number</label><br />
<!--           <input type="number" name="itemid" placeholder="barcode" value="" autofocus required /> -->
        </p>
        <p>
          <label for="name">Name</label><br />
          <input type="text" name="itemName" placeholder="item name" value="" required >
        </p>
        <p>
          <label for="description">Product Description</label><br />
          <input type="text" name="description" placeholder="product description" value="" required />
        </p>
       
         <p>
           <label for="avatar">Product picture</label><br />
           <input type="file" name="avatar" accept="image/" />
        </p>
        
        <p>
          <label for="wholsesaleprice">Wholesale price</label><br />
          <input type="number" name="itemQty" placeholder="unit price" value="" required />
        </p>
        <p>
          <label for="retailprice">Retail price</label><br />
          <input type="number" name="itemPrice" placeholder="item price in the shop" value="" required />
        </p>
        <p>
          <label for="maximumstocklevel">Maximum stock level</label><br />
<!--           <input type="number" name="maximumstocklevel" placeholder="item level when re-ordering" value="" required /> -->
        </p>
        <p>
          <label for="minimumtocklevel">Maximum stock level</label><br />
<!--           <input type="number" name="minimumstocklevel" placeholder="item level when it reaches low" value="" required /> -->
        </p>
        
        <p><input type="submit" value="Add"></p>
      </form>
		</main>
   </body>
</html>
